body{
    background-color: #d3a118d3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin: 0px;
}

h1{
    font-size: 50px;
    color: rgb(168, 5, 52);
}

.search input {
    padding: 10px;
    font-size: 16px;
    border: 6px solid #ccc;
    border-radius: 5px;
    width: 250px; 
}

.about_section{
    display: flex;
    
}


li{
    height: 70px;
    width: auto;
    line-height: 2.5;
    border-width: medium;
    border-color:  rgb(168, 5, 52);
    border-style: solid;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 20px;
}

.sign_in_link{
    color: rgb(168, 5, 52);
}