body{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin: 0px;
    background-color: #FFFFFF;
}

h1{
    font-size: 50px;
    color: rgb(168, 5, 52);
}

.search input {
    padding: 10px;
    font-size: 16px;
    border: 6px solid #ccc;
    border-radius: 5px;
    width: 250px; 
}

.about_section{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #D1C791;
}

.florida_flag{
    width: 700px;
    border-radius: 5%;
}

.about{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    background-color: #8BB174;
    
}

.about_title{
   font-weight: 900;
   
}

.about_section .about{
    font-size: 21px;
    color: black;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
    text-transform: uppercase;
}

.counties_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    height: 200px;
    width: 550px;
    line-height: 2.5;
    border-width: medium;
    border-color:  rgb(168, 5, 52);
    border-style: solid;
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 22px;
    background-color: #63D86D;
}

.sign_in_link{
    color: rgb(168, 5, 52);
}